block footer
	footer.footer
		.container-fluid
			.row.justify-content-center.row_footer
				.col-md-5.footer__phone 8 800 234 149 04
				.col-md-1.footer__split
				.col-md-5.footer__email 
					a.footer__email-link(href='mailto:proinform1@list.ru') proinform1@list.ru
	footer.footer-down
		.container-fluid
			.row.justify-content-center
				.col.footer-down__warning Все материалы на сайте несут информационный характер