block header
	header.header
		.container-fluid.container-fluid_header
			.row
				.col-sm-6.header__phone 8 800 234 149 04
				.col-sm-6.header__hotline
					.header__hotline-text Горячая линия
					a.header__hotline-email(href='mailto:prohotline@list.ru') prohotline@list.ru
			.row
				h1.col-sm-12.header__head Забота и здоровье
				.col-sm-12.header__subhead Федеральная социальная программа
				.col-sm-12.header__button
					button.btn.btn-outline-primary.header__button-know-about-programm(type='button') Узнать о программе
							span.header__button-icon-tablet