.container-fluid_header {
	padding-top: 61px;
	@media (max-width: 576px) {
		padding-top: 20px;
	}
}
.header {
	height: 575px;
	background: #fff url(../img/header.jpg) 50% 0 no-repeat;
	background-size: cover;
	// border: 1px solid red;
}
// .header__phone, .header__hotline, .header__hotline-text, .header__hotline-email {
// 	border: 1px solid blue;
// }
.header__phone {
	font-size: 181.25%;
	padding-top: 12px;
}
.header__hotline-text {
	font-size: 64.5%;
	text-align: right;
}
.header__hotline-email {
	display: block;
	font-size: 141.5%;
	text-align: right;
	text-decoration: none;
	color: #000;
}
.header__hotline-text,
.header__hotline-email {
	@media (max-width: 576px) {
		text-align: left;
	}
}
.header__head {
	padding-top: 100px;
	font-size: 433%;
	@media (max-width: 576px) {
		padding-top: 60px;
	}
}
.header__subhead {
	font-size: 146%;
	padding-top: 2px;
}
.header__button {
	margin-top: 49px;
}
.header__button-know-about-programm {
	padding: 6px 18px 6px 30px;
	border-radius: 24px;
	font-size: 88%;
	font-family: 'B&N-e2e4-Regular', Arial, serif;
	cursor: pointer;
}
.header__button-know-about-programm:hover {
	.header__button-link {
		color: #fff;
	}
	.header__button-icon-tablet {
    	background: url(../img/pills.png) -42px 0 no-repeat;
	}
}
.header__button-icon-tablet {
	display: inline-block;
	font-size: 84.37%;
	margin: 0 4px 0 10px;
	width: 42px;
	height: 34px;
    vertical-align: middle;
    background: url(../img/pills.png) 0 0 no-repeat;
}