@font-face {
    font-family: 'B&N-e2e4-Regular';
    src: url('../fonts/B&N-e2e4-Regular.eot');
    src: url('../fonts/B&N-e2e4-Regular.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/B&N-e2e4-Regular.woff2') format('woff2'), 
	url('../fonts/B&N-e2e4-Regular.woff') format('woff'), 
	url('../fonts/B&N-e2e4-Regular.ttf') format('truetype'), 
	url('../fonts/B&N-e2e4-Regular.svg#B&N-e2e4-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}